@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.textGradient {
  background: -webkit-linear-gradient(#6a11cb, #2575fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.backgroundGradient {
  background: -webkit-linear-gradient(#6a11cb, #2575fc);
}

.backgroundGradient:hover {
  background: -webkit-linear-gradient(#872bea, #01cbdd) !important;
}

/* Ensure the hover effect is applied correctly */
button.backgroundGradient:hover {
  background: -webkit-linear-gradient(#872bea, #01cbdd) !important;
}

.blueShadow {
  box-shadow: 3px 3px 1px 1px rgba(119, 27, 247, 0.852);
}

.blueShadow:hover {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px 1px 1px rgba(88, 97, 255, 0.924);

}
